@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IranYekan';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/BYekan+.ttf');
}
@font-face {
  font-family: 'IranYekan-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/BYekan+\ Bold.ttf');
}
@font-face {
  font-family: 'Morabba';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Yekan\ Boom.ttf');
}

@layer base {
  .display1 {
    font-family: IranYekan;
    font-weight: 800;
    font-size: 64px;
    line-height: 80px;
    color: #070e25;
    direction: rtl;
  }

  .display2 {
    font-family: IranYekan;
    font-weight: 700;
    font-size: 56px;
    line-height: 80px;
    color: #070e25;
    direction: rtl;
  }

  p {
    direction: rtl;
  }

  h1 {
    font-family: IranYekan;
    font-weight: 700;
    font-size: 44px;
    line-height: 61.6px;
    color: #070e25;
    direction: rtl;
  }

  h2 {
    font-family: IranYekan;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    color: #070e25;
    direction: rtl;
  }

  h3 {
    font-family: IranYekan;
    font-weight: 700;
    font-size: 32px;
    line-height: 44.8px;
    color: #070e25;
    text-transform: capitalize;
    direction: rtl;
  }

  h4 {
    font-family: IranYekan;
    font-weight: 700;
    font-size: 24px;
    line-height: 33.6px;
    color: #070e25;
    text-transform: capitalize;
    direction: rtl;
  }

  h5 {
    font-family: IranYekan;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #070e25;
    text-transform: capitalize;
    direction: rtl;
  }

  h6 {
    font-family: IranYekan;
    font-weight: 700;
    font-size: 16px;
    line-height: 22.4px;
    color: #070e25;
    text-transform: capitalize;
    direction: rtl;
  }

  .body-xl {
    font-family: IranYekan;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: rgba(7, 14, 37, 0.7);
    text-transform: capitalize;
    direction: rtl;
  }

  .body-lg {
    font-family: IranYekan;
    font-weight: 300;
    font-size: 18px;
    line-height: 32.4px;
    color: rgba(7, 14, 37, 0.7);
    text-transform: capitalize;
    direction: rtl;
  }

  .body-md {
    font-family: IranYekan;
    font-weight: 400;
    font-size: 16px;
    line-height: 28.8px;
    color: rgba(7, 14, 37, 0.7);
    text-transform: capitalize;
    direction: rtl;
  }

  .body-sm {
    font-family: IranYekan;
    font-weight: 300;
    font-size: 14px;
    line-height: 25.2px;
    color: rgba(7, 14, 37, 0.7);
    text-transform: capitalize;
    direction: rtl;
  }

  .body-xs {
    font-family: IranYekan;
    font-weight: 300;
    font-size: 12px;
    line-height: 21.6px;
    color: rgba(7, 14, 37, 0.7);
    text-transform: capitalize;
    direction: rtl;
  }

  .caption-md {
    font-family: IranYekan;
    font-weight: 500;
    font-size: 12px;
    line-height: 21.6px;
    text-transform: capitalize;
    color: rgba(7, 14, 37, 0.7);
    direction: rtl;
  }

  .caption-lg {
    font-family: IranYekan;
    font-weight: 500;
    font-size: 14px;
    line-height: 25.2px;
    text-transform: capitalize;
    color: #121127;
    direction: rtl;
  }

  .button-lg {
    font-family: IranYekan;
    font-weight: 500;
    font-size: 16px;
    line-height: 27.64px;
    color: #070e25;
    direction: rtl;
  }

  .button-sm {
    font-family: IranYekan;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #070e25;
    text-transform: capitalize;
    direction: rtl;
  }

  .overline-lg {
    font-family: IranYekan;
    font-weight: 400;
    font-size: 14px;
    line-height: 23.8px;
    color: #5b38ff;
    text-transform: uppercase;
    direction: rtl;
  }

  .overline-sm {
    font-family: IranYekan;
    font-weight: 500;
    font-size: 12px;
    line-height: 20.4px;
    color: #5b38ff;
    text-transform: uppercase;
    direction: rtl;
  }

  /*? Responsive */
  @media (max-width: 576px) {
    .display1 {
      font-size: 48px;
      line-height: 60px;
    }

    .display2 {
      font-size: 40px;
      line-height: 64px;
    }

    h1 {
      font-size: 32px;
      line-height: 50.4px;
    }

    h2 {
      font-size: 28px;
      line-height: 40px;
    }

    h3 {
      font-size: 24px;
      line-height: 33.6px;
    }

    h4 {
      font-size: 24px;
      line-height: 33.6px;
    }

    h5 {
      font-size: 24px;
      line-height: 33.6px;
    }

    h6 {
      font-size: 20px;
      line-height: 28px;
    }

    .body-xl {
      font-size: 18px;
      line-height: 32.4px;
    }

    .body-lg {
      font-size: 20px;
      line-height: 36px;
    }

    .body-md {
      font-size: 14px;
      line-height: 25.2px;
    }

    .body-sm {
      font-size: 16px;
      line-height: 28.8px;
    }

    .body-xs {
      font-size: 14px;
      line-height: 25.2px;
    }

    .caption-md {
      font-size: 14px;
      line-height: 25.2px;
    }

    .caption-lg {
      font-size: 10px;
      line-height: 20.8px;
    }

    .button-lg {
      font-size: 18px;
      line-height: 31.05px;
    }

    .button-sm {
      font-size: 16px;
      line-height: 27.64px;
    }

    .overline-lg {
      font-size: 12px;
      line-height: 20.4px;
    }

    .overline-sm {
      font-size: 14px;
      line-height: 23.8px;
    }
  }

  /** Small devices (tablets, 576px and up) */
  @media (min-width: 576px) {
    .display1 {
      font-size: 48px;
      line-height: 60px;
    }

    .display2 {
      font-size: 40px;
      line-height: 64px;
    }

    h1 {
      font-size: 36px;
      line-height: 50.4px;
    }

    h2 {
      font-size: 28px;
      line-height: 40px;
    }

    h3 {
      font-size: 36px;
      line-height: 50.4px;
    }

    h4 {
      font-size: 24px;
      line-height: 33.6px;
    }

    h5 {
      font-size: 24px;
      line-height: 33.6px;
    }

    h6 {
      font-size: 20px;
      line-height: 28px;
    }

    .body-xl {
      font-size: 18px;
      line-height: 32.4px;
    }

    .body-lg {
      font-size: 20px;
      line-height: 36px;
    }

    .body-md {
      font-size: 14px;
      line-height: 25.2px;
    }

    .body-sm {
      font-size: 16px;
      line-height: 28.8px;
    }

    .body-xs {
      font-size: 14px;
      line-height: 25.2px;
    }

    .caption-md {
      font-size: 14px;
      line-height: 25.2px;
    }

    .caption-lg {
      font-size: 10px;
      line-height: 20.8px;
    }

    .button-lg {
      font-size: 18px;
      line-height: 31.05px;
    }

    .button-sm {
      font-size: 16px;
      line-height: 27.64px;
    }

    .overline-lg {
      font-size: 12px;
      line-height: 20.4px;
    }

    .overline-sm {
      font-size: 14px;
      line-height: 23.8px;
    }
  }

  /** Medium devices (desktops, 768px and up) */
  @media (min-width: 768px) {
    .display1 {
      font-size: 56px;
      line-height: 70px;
    }

    .display2 {
      font-size: 48px;
      line-height: 72px;
    }

    h1 {
      font-size: 36px;
      line-height: 49.6px;
    }

    h2 {
      font-size: 32px;
      line-height: 44.8px;
    }

    h3 {
      font-size: 40px;
      line-height: 56px;
    }

    h4 {
      font-size: 28px;
      line-height: 39.2px;
    }

    h5 {
      font-size: 28px;
      line-height: 39.2px;
    }

    h6 {
      font-size: 24px;
      line-height: 33.6px;
    }

    .body-xl {
      font-size: 20px;
      line-height: 36px;
    }

    .body-lg {
      font-size: 20px;
      line-height: 36px;
    }

    .body-md {
      font-size: 16px;
      line-height: 28.8px;
    }

    .body-sm {
      font-size: 18px;
      line-height: 32.4px;
    }

    .body-xs {
      font-size: 16px;
      line-height: 28.8px;
    }

    .caption-md {
      font-size: 16px;
      line-height: 28.8px;
    }

    .caption-lg {
      font-size: 12px;
      line-height: 21.6px;
    }

    .button-lg {
      font-size: 20px;
      line-height: 34.46px;
    }

    .button-sm {
      font-size: 18px;
      line-height: 31.32px;
    }

    .overline-lg {
      font-size: 13px;
      line-height: 22.1px;
    }

    .overline-sm {
      font-size: 16px;
      line-height: 27.2px;
    }
  }

  /** Large devices (large desktops, 992px and up) */
  @media (min-width: 992px) {
    .display1 {
      font-size: 64px;
      line-height: 80px;
    }

    .display2 {
      font-size: 48px;
      line-height: 64px;
    }

    h1 {
      font-size: 44px;
      line-height: 61.6px;
    }

    h2 {
      font-size: 40px;
      line-height: 56px;
    }

    h3 {
      font-size: 44px;
      line-height: 61.6px;
    }

    h4 {
      font-size: 32px;
      line-height: 44.8px;
    }

    h5 {
      font-size: 20px;
      line-height: 28px;
    }

    h6 {
      font-size: 28px;
      line-height: 39.2px;
    }

    .body-xl {
      font-size: 20px;
      line-height: 36px;
    }

    .body-lg {
      font-size: 18px;
      line-height: 32.4px;
    }

    .body-md {
      font-size: 16px;
      line-height: 28.8px;
    }

    .body-sm {
      font-size: 20px;
      line-height: 36px;
    }

    .body-xs {
      font-size: 18px;
      line-height: 32.4px;
    }

    .caption-md {
      font-size: 18px;
      line-height: 32.4px;
    }

    .caption-lg {
      font-size: 16px;
      line-height: 28.8px;
    }

    .button-lg {
      font-size: 24px;
      line-height: 41.28px;
    }

    .button-sm {
      font-size: 20px;
      line-height: 34.96px;
    }

    .overline-lg {
      font-size: 14px;
      line-height: 23.8px;
    }

    .overline-sm {
      font-size: 18px;
      line-height: 30.6px;
    }
  }

  /** Extra large devices (larger desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .display1 {
      font-size: 72px;
      line-height: 90px;
    }

    .display2 {
      font-size: 56px;
      line-height: 80px;
    }

    h1 {
      font-size: 56px;
      line-height: 77.6px;
    }

    h2 {
      font-size: 40px;
      line-height: 56px;
    }

    h3 {
      font-size: 48px;
      line-height: 67.2px;
    }

    h4 {
      font-size: 36px;
      line-height: 50.4px;
    }

    h5 {
      font-size: 20px;
      line-height: 28px;
    }

    h6 {
      font-size: 28px;
      line-height: 39.2px;
    }

    .body-xl {
      font-size: 22px;
      line-height: 39.6px;
    }

    .body-lg {
      font-size: 20px;
      line-height: 36px;
    }

    .body-md {
      font-size: 16px;
      line-height: 28.8px;
    }

    .body-sm {
      font-size: 24px;
      line-height: 43.2px;
    }

    .body-xs {
      font-size: 20px;
      line-height: 36px;
    }

    .caption-md {
      font-size: 20px;
      line-height: 36px;
    }

    .caption-lg {
      font-size: 18px;
      line-height: 32.4px;
    }

    .button-lg {
      font-size: 26px;
      line-height: 44.69px;
    }

    .button-sm {
      font-size: 22px;
      line-height: 38.68px;
    }

    .overline-lg {
      font-size: 16px;
      line-height: 27.2px;
    }

    .overline-sm {
      font-size: 20px;
      line-height: 34px;
    }
  }
}

@layer components {
  .btn-blue {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
  }
}

@layer utilities {
  .filter-none {
    filter: none;
  }
  .filter-grayscale {
    filter: grayscale(100%);
  }
}
